.notFoundPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font: var(--font-l);
}

.linkFont {
    font: var(--font-m);
}
