.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
}

.links {
    margin-left: auto;
    text-transform: capitalize;
}

.mainLink {
    margin-right: 20px;
}
